<div class="bg-theme p-5">
  <div class="container text-white">
    <h1>General Knowledge</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, tempora beatae atque iusto quae possimus eius temporibus quisquam</p>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-4 mb-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-3">
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
