<div class="card my-5 pb-5 shadow-efftect">
  <div class="card-body">
    <h4 class="my-3">Comments (15,593)</h4>

    <div class="comment-box mt-3">
      <h6>John Doe</h6>
      <small class="text-danger"> LAST UPDATED - MAR 30 2024</small>

      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus inventore commodi,
        animi repudiandae suscipit quasi provident eveniet velit, repellendus dolor porro. Officiis,
        incidunt dolore. Quibusdam, eos! Distinctio vel dolor laboriosam.
      </div>

      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr>
    </div>

    <div class="comment-box mt-3">
      <h6>John Doe</h6>
      <small class="text-danger"> LAST UPDATED - MAR 30 2024</small>

      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus inventore commodi,
        animi repudiandae suscipit quasi provident eveniet velit, repellendus dolor porro. Officiis,
        incidunt dolore. Quibusdam, eos! Distinctio vel dolor laboriosam.
      </div>

      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr>
    </div>
  </div>
</div>
