<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white"> Featured Posts</h2>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita harum optio provident dolor! Laborum, ex! In rem quae maiores, ipsam id officia enim aspernatur, excepturi iusto facilis sed repellendus maxime.</p>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let featuredPost of featuredPostArray" class="col-lg-3">
        <app-post-card [postData]="featuredPost"></app-post-card>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="col-md-12 text-center">
    <h2>Latest Posts</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit et sequi nemo.</p>
  </div>

  <div class="row">
    <div class="col-md-4 mt-3" *ngFor="let latestPost of latesetPostArray">
      <app-post-card [postData] = "latestPost"></app-post-card>
    </div>
  </div>
</section>
