<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img src="https://images.pexels.com/photos/2228183/pexels-photo-2228183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2">Views - 201.341</small>
          <small class="bg-light text-danger text-center ml-2">LAST UPDATED - MAR 12, 2024</small>

          <h1 class="my-3">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus sunt itaque et dolorum omnis exercitationem ex nihil deserunt, hic possimus voluptates est ea! Ratione, magni veritatis repudiandae fuga sapiente officiis sed quia.

            Corporis error consectetur perferendis obcaecati pariatur corrupti dolorum neque nemo unde eius quo vitae cum necessitatibus quae voluptates temporibus expedita delectus molestias esse, et rerum similique autem consequatur?

            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit perspiciatis voluptates eaque tempore officia provident.

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quibusdam at natus maiores suscipit expedita praesentium rerum cumque accusamus incidunt?

            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore a hic ducimus voluptates assumenda ex culpa doloremque, cumque enim saepe esse ullam reiciendis in quis maxime harum architecto neque voluptatibus.
          </p>
        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>

    <div class="col-md-3">
      <div class="mb-3">
        <app-post-card></app-post-card>
      </div>
      <div class="mb-3">
        <app-post-card></app-post-card>
      </div>
      <div class="mb-3">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</div>
